main
  section.container
    .subheader
      h1 Physician's Webinar

  section.container
    .white
      .row
        .col-sm-8.col-sm-offset-2
          .webinar
            <script async class="speakerdeck-embed" data-id="373b3b506c150131c2a01eedc9f1c6c7" data-ratio="1.29456384323641" src="//speakerdeck.com/assets/embed.js"></script>
            a.center(href="#{ site_url }/assets/publications/Physician_Webinar.pdf", alt="Physician_Webinar", target="_blank") Download this Webinar as a PDF