main
  section.container
    .subheader
      h1 Physician's Section

  section.container
    .white
      .row
        .col-sm-2
          .side-nav
            ul.isonea-side-nav
              li
                a(href="#{site_url}/publications") Publications
              li
                a(href="#{site_url}/videos") Videos
        .col-sm-5
          .main-copy
            h1 This is the bolded title of text.
            p Gastropub farm-to-table incididunt master cleanse literally single-origin coffee. Ea Schlitz consequat Tumblr, chillwave pariatur tote bag elit narwhal irure keytar kogi. Swag lo-fi Banksy meh 8-bit, ullamco dolor tofu you probably haven't heard of them High Life magna. Food truck mixtape vero gluten-free ut meh. Eu Helvetica ennui direct trade, ad nisi PBR tempor. Flexitarian quinoa sint authentic narwhal master cleanse, vero Carles chia gastropub bespoke gluten-free sartorial mustache lomo. Blog vegan raw denim butcher, mollit roof party Intelligentsia id VHS selfies twee shabby chic meh commodo locavore.

            p XOXO assumenda authentic, lo-fi in consectetur small batch anim esse pug. Direct trade butcher commodo odio tattooed. Fingerstache Shoreditch McSweeney's nisi, skateboard sustainable flexitarian dreamcatcher scenester pop-up tempor sriracha small batch. Vero pariatur authentic chambray. Cillum ad aute minim, Neutra typewriter narwhal nostrud mlkshk messenger bag keytar tempor odio. Carles distillery High Life cred. Blue Bottle culpa shabby chic, iPhone 8-bit single-origin coffee narwhal retro.
    
        .col-sm-5
          .papers
            img.center.img-responsive(src="assets/images/PhysWebinar.jpg", alt="PhysWebinar")
            img.center.img-responsive(src="assets/images/AIRStudy.jpg" alt="AIRStudy")
            img.center.img-responsive(src="assets/images/EvidencePapers.jpg" alt="EvidencePapers" width="316" height="182")