#wrap.container.document-container(role='document')
      .header-bg
        .header-bg-fill
      header
        nav
          .logo
            a(name='header-logo', href='http://isoneamed.com')
          .tagline
            | Sound Asthma Management
          a.mobile-menu-btn.btn(href='javascript:void(0)', data-toggle='collapse', data-target='#mobile-menu-wrapper')
            | Menu
          .header-content.standard-header-content
            .social-links
              .facebook
                a(href='https://www.facebook.com/AsthmaSense')
                  img(src='http://isoneamed.com/wp-content/themes/isonea/img/facebook_dark.png')
              .twitter
                a(href='https://twitter.com/AsthmaSense')
                  img(src='http://isoneamed.com/wp-content/themes/isonea/img/twitter02_dark.png')
              .in
                a(href='http://www.linkedin.com/company/2497200?trk=tyah')
                  img(src='http://isoneamed.com/wp-content/themes/isonea/img/in_dark.png')
              .youtube
                a(href='http://www.youtube.com/soundasthma')
                  img(src='http://isoneamed.com/wp-content/themes/isonea/img/youtube_icon.png')
              div(style='float: left;')
                a(href='https://sense.soundasthma.com/user/login')
                  img(src='http://isoneamed.com/wp-content/themes/isonea/img/cloud-btn.png')
          .clear
          .menu-wrapper
            ul#topmenu.sf-menu.desktop-menu.topmenu
              li#menu-home.menu-item.menu-item-type-post_type.menu-item-object-page
                a(href='http://isoneamed.com/')
                  span.menu-link-wrap
                    strong Home
              li#menu-products.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong Products
                ul.sub-menu
                  li#menu-technology.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/products/productstechnolog/')
                      span.menu-link-wrap
                        strong Technology
                  li#menu-software.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/products/software/')
                      span.menu-link-wrap
                        strong Software
                  li#menu-devices.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/products/devices/')
                      span.menu-link-wrap
                        strong Devices
                  li#menu-legacy-products.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/products/legacy-products/')
                      span.menu-link-wrap
                        strong Legacy Products
                  li#menu-patents.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/products/patents/')
                      span.menu-link-wrap
                        strong Patents
              li#menu-healthcare.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong Healthcare
                ul.sub-menu
                  li#menu-mhealth-trends.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/healthcare/mhealth-trends/')
                      span.menu-link-wrap
                        strong mHealth Trends
                  li#menu-clinical-perspectives.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/healthcare/clinical-perspectives/')
                      span.menu-link-wrap
                        strong Clinical Perspectives
                  li#menu-publications.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/healthcare/publications/')
                      span.menu-link-wrap
                        strong Publications
              li#menu-investors.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong Investors
                ul.sub-menu
                  li#menu-corporate-announcements.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/investors/asx/')
                      span.menu-link-wrap
                        strong Corporate Announcements
                  li#menu-quarterly-and-annual-reports.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/investors/quarterly-reports/')
                      span.menu-link-wrap
                        strong Quarterly and Annual Reports
                  li#menu-analyst-reports.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/investors/analyst-reports/')
                      span.menu-link-wrap
                        strong Analyst Reports
                  li#menu-corporate-presentations.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/investors/corporate-presentations/')
                      span.menu-link-wrap
                        strong Corporate Presentations
                  li#menu-newsletter.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/investors/newsletter/')
                      span.menu-link-wrap
                        strong Newsletter
              li#menu-news.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong News
                ul.sub-menu
                  li#menu-in-the-media.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/news/in-the-media/')
                      span.menu-link-wrap
                        strong In the Media
                  li#menu-videos.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/news/videos/')
                      span.menu-link-wrap
                        strong Videos
                  li#menu-pressroom.menu-item.menu-item-type-custom.menu-item-object-custom
                    a(href='http://press.isoneamed.com')
                      span.menu-link-wrap
                        strong Pressroom
              li#menu-about.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong About
                ul.sub-menu
                  li#menu-about-us.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-7168.current_page_item
                    a(href='http://isoneamed.com/about/about-us/')
                      span.menu-link-wrap
                        strong About Us
                  li#menu-board-of-directors.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/about/board-of-directors/')
                      span.menu-link-wrap
                        strong Board of Directors
                  li#menu-management.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/about/management/')
                      span.menu-link-wrap
                        strong Management
              li#menu-contact.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong Contact
                ul.sub-menu
                  li#menu-linkedin.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/contact/linked-in-profile/')
                      span.menu-link-wrap
                        strong LinkedIn
                  li#menu-contact-info.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/contact/contact-info/')
                      span.menu-link-wrap
                        strong Contact Info
              li#menu-careers.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong Careers
                ul.sub-menu
                  li#menu-isoneas-vision.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/careers/isoneas-vision/')
                      span.menu-link-wrap
                        strong iSonea’s Vision
                  li#menu-culture.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/careers/culture/')
                      span.menu-link-wrap
                        strong Culture
                  li#menu-join-us.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/careers/join-us/')
                      span.menu-link-wrap
                        strong Join Us
            
            
          .clear
        .clear
        .header-content.mobile-header-content
          .social-links
            .facebook
              a(href='https://www.facebook.com/AsthmaSense')
                img(src='http://isoneamed.com/wp-content/themes/isonea/img/facebook_dark.png')
            .twitter
              a(href='https://twitter.com/AsthmaSense')
                img(src='http://isoneamed.com/wp-content/themes/isonea/img/twitter02_dark.png')
            .in
              a(href='http://www.linkedin.com/company/2497200?trk=tyah')
                img(src='http://isoneamed.com/wp-content/themes/isonea/img/in_dark.png')
            .youtube
              a(href='http://www.youtube.com/soundasthma')
                img(src='http://isoneamed.com/wp-content/themes/isonea/img/youtube_dark.png')
            div(style='float: left;')
              a(href='https://sense.soundasthma.com/user/login')
                img(src='http://isoneamed.com/wp-content/themes/isonea/img/cloud-btn.png')
      .main.has-sidebar.has-sidebar-right(role='main')
        .subheader-wrapper
          .container_12
            .grid_12
              #subheader
                h1 About Us
                h2
          .clear
        .row-fluid.clearfix
          .intro
        .content-wrapper
          .overlay-divider
          .clearfix.page-container.row-fluid
            .span8
              //
                PAGE CONTENT
              .prime-page
                p
                  | iSonea is a leader in the development of mobile health devices for the management of asthma, COPD and other chronic breathing conditions. iSonea’s proprietary apps, software and devices will help people monitor the symptoms of their conditions, increase their awareness of risk of attack, adhere to their medication plans, improve outcomes and reduce healthcare expenditures.
                p Our mission is to:
                ul
                  li
                    | Improve management of asthma and other obstructive lung diseases by bringing innovative non-invasive acoustic respiratory monitoring technology to the market.
                  li
                    | Be competitive and dynamic by becoming a leading company in the field of pulmonary acoustics, thereby providing a satisfying workplace for our employees and value to our shareholders.
                p
                  | iSonea was founded through the merger of Karmelsonix of Israel and PulmoSonix of Australia. Through the merger, iSonea was able to use each company’s proprietary respiratory acoustic technology to offer solutions to previously unmet challenges of asthma monitoring and management.
                p
                  | The company was renamed iSonea Ltd. in August 2011. iSonea’s U.S. headquarters is in Millersville, Maryland.
                p  
            .span4.sidebar-wrapper
              #sidebar
                .divider.mobile-divider
                .clear
                article#search-2.widget-1.widget-first.widget.widget_search
                  .widget-1.widget-first.container.sidebar-widget
                    .search-widget.sidebar-widget
                      form#searchform.search-form(role='search', action='http://isoneamed.com/', method='get')
                        label.visuallyhidden(for='s') Search for:
                        fieldset
                          div
                            input#s(type='text', value='', name='s')
                          //
                             <input type="submit" id="searchsubmit" value="Search" class="btn"> 
                          button.btn(name='searchbutton')
                            i.icon-search
              //
                 /#sidebar 
        footer
          .border.border-top
          .row-fluid.clearfix
            .span4
              .widget-1.widget-last.divider
              article#black-studio-tinymce-2.widget-1.widget-last.widget.widget_black_studio_tinymce
                .widget-1.widget-last.container
                  h3 Contact Info
                  .textwidget
                    p
                      strong For Business Inquiries:
                      br
                      | iSonea Ltd
                      br
                      | Suite 1, 1233 High St
                      br
                      | Armadale, Victoria, AU 3143
                      br
                      a(href='info@iSoneaMed.com') info@iSoneaMed.com
                    p
                      strong Product Inquiries / Tech Support  
                      br
                      | iSonea Ltd
                      br
                      | 125 South Tremont
                      br
                      | Oceanside, California 92054
                      br
                      | +1 761.297.6055 / Service@iSoneaMed.com
                    p
                      strong Australia Inquiries
                      br
                      | iSonea Limited
                      br
                      | REGISTERED OFFICE
                      br
                      | Suite 1, 1233 High St
                      br
                      | Armadale, Victoria, AU 3143
                      br
                      | +61 (0) 3 9824 5254
                    p
                      a(href='http://isoneamed.com/wp-content/uploads/2013/09/2-1.2.jpeg')
                        img.aligncenter.size-medium.wp-image-8116(alt='2-1.2', src='http://isoneamed.com/wp-content/uploads/2013/09/2-1.2-300x138.jpeg', width='300', height='138')
                      a(href='http://advamed.org/')
                        img.aligncenter.size-medium.wp-image-8268(alt='advamed', src='http://isoneamed.com/wp-content/uploads/2013/10/advamed-300x91.png', width='300', height='91')
            .span4
              .widget-1.widget-last.divider
              article#anyusertwitterfeed-3.widget-1.widget-last.widget.widget_anyusertwitterfeed
                .widget-1.widget-last.container
                  h3 AsthmaSense Tweets
                  #wds-container
                    #wds
                      #wds-tweets
                        .wds-tweet-container
                          .wds-tweet
                            a(href='https://twitter.com/intent/user?screen_name=AsthmaSense', target='_blank') AsthmaSense
                            | @
                            a.username(href='http://twitter.com/EstradSeogo', rel='external', target='_blank') EstradSeogo
                            | Thanks for connecting with us!
                          .wds-tweet-data
                            a(href='https://twitter.com/AsthmaSense/statuses/426732732501086208', target='_blank') 19s
                        .wds-tweet-container
                          .wds-tweet
                            a(href='https://twitter.com/intent/user?screen_name=AsthmaSense', target='_blank') AsthmaSense
                            | @
                            a.username(href='http://twitter.com/MichelleTennant', rel='external', target='_blank') MichelleTennant
                            | Thanks for connecting with us!
                          .wds-tweet-data
                            a(href='https://twitter.com/AsthmaSense/statuses/426732650871545856', target='_blank') 39s
                        .wds-tweet-container
                          .wds-tweet
                            a(href='https://twitter.com/intent/user?screen_name=AsthmaSense', target='_blank') AsthmaSense
                            | @
                            a.username(href='http://twitter.com/TheToast2013', rel='external', target='_blank') TheToast2013
                            | Thanks for the RT!
                          .wds-tweet-data
                            a(href='https://twitter.com/AsthmaSense/statuses/426732394633101312', target='_blank') 1m
                        .wds-tweet-container.wds-last
                          .wds-tweet
                            a(href='https://twitter.com/intent/user?screen_name=AsthmaSense', target='_blank') AsthmaSense
                            | @
                            a.username(href='http://twitter.com/healthorder', rel='external', target='_blank') healthorder
                            | Thanks for the RT!
                          .wds-tweet-data
                            a(href='https://twitter.com/AsthmaSense/statuses/426732227116806144', target='_blank') 2m
            .span4
              .widget-1.divider
              article#black-studio-tinymce-3.widget-1.widget.widget_black_studio_tinymce
                .widget-1.container
                  .textwidget
                    p
                      .social-shortcode.counter-right
                        span.fb-wrap
                          //
                                http://developers.facebook.com/docs/reference/plugins/like/ 
                          .fb-like(data-send='false', data-layout='button_count', data-width='44', data-show-faces='false')
                        span.twitter-wrap
                          //
                                https://dev.twitter.com/docs/tweet-button 
                          a.twitter-share-button(href='https://twitter.com/share', data-count='horizontal', data-lang='en') Tweet
                        span.g-wrap
                          g:plusone(size='medium')
                        span.in-wrap
                          script(type='IN/Share', data-counter='right')
              style
                #widget-custom_cf7-3 #cf7_form_box{background-color:; color:; padding:10px;}
                #widget-custom_cf7-3 .waiting, #widget-custom_cf7-3 .success{background:#fff;}
                #widget-custom_cf7-3 textarea{
                margin:5px 0;
                height:80px;
                width:95%;
                }
                #widget-custom_cf7-3 input[type="submit"]{
                background: #88B926;
                color: #fff;
                -moz-border-radius: 3;
                -webkit-border-radius: 3;
                -khtml-border-radius: 3;
                border--radius: 3;
                }
                #widget-custom_cf7-3 input[type="text"]{width:95%;}
                #widget-custom_cf7-3 .wpcf7-response-output, #widget-custom_cf7-3 .wpcf7-not-valid-tip{display:none;}
              .widget-2.divider
              article#custom_cf7-3.widget-2.widget.widget_custom_cf7
                .widget-2.container
                  h3 Newsletter Sign Up
                  p.cf7_widget_subheading
                    | Keep informed of iSonea's latest news by receiving the iSonea Monitor, Sign up here:
                  #cf7_form_box
                    #wpcf7-f7117-w1-o1.wpcf7
                      form.wpcf7-form(action='/about/about-us/#wpcf7-f7117-w1-o1', method='post', novalidate='novalidate')
                        div(style='display: none;')
                          input(type='hidden', name='_wpcf7', value='7117')
                          input(type='hidden', name='_wpcf7_version', value='3.5.1')
                          input(type='hidden', name='_wpcf7_locale', value='')
                          input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f7117-w1-o1')
                          input(type='hidden', name='_wpnonce', value='87af74f529')
                        p
                          | Name or Company Name
                          br
                          span.wpcf7-form-control-wrap.your-name
                            input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text', name='your-name', value='', size='40', aria-required='true')
                        p
                          | Your Email (required)
                          br
                          span.wpcf7-form-control-wrap.your-email
                            input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='your-email', value='', size='40', aria-required='true')
                        p
                          input.wpcf7-form-control.wpcf7-submit(type='submit', value='Send')
                        .wpcf7-response-output.wpcf7-display-none
                    .clear
              .widget-3.widget-last.divider
              article#black-studio-tinymce-4.widget-3.widget-last.widget.widget_black_studio_tinymce
                .widget-3.widget-last.container
                  .textwidget
                    a(href='http://isoneamed.com/wp-content/uploads/2013/08/FrostandSullivan_Logo.png')
                      img.aligncenter.size-medium.wp-image-8090(src='http://isoneamed.com/wp-content/uploads/2013/08/FrostandSullivan_Logo-300x272.png', alt='FrostandSullivan_Logo', width='250', height='auto')
      //
         /#wrap Digi Ocean
      link(rel='stylesheet', href='http://isoneamed.com/wp-content/plugins/any-user-twitter-feed/css/wdstwitterwidget.css?ver=3.7.1')
      style(type='text/css')
        #wds-tweets a {color: #417343}#wds-container {background-color: #ffffff}#wds-header {border-bottom-color: #cccccc}#wds-container {border-color: #cccccc}.wds-copyright {border-top-color: #cccccc}.wds-tweet-container {border-bottom-color: #cccccc}#wds {color: #333333}a .wds-display-name {color: #333333}a .wds-screen-name {color: #999999}a:hover .wds-screen-name {color: #666666}#wds-header, #wds-header a {color: #333333}
      script(type='text/javascript', src='http://isoneamed.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.39.0-2013.07.31')
      script(type='text/javascript')
        /* <![CDATA[ */
        var _wpcf7 = {"loaderUrl":"http:\\/\/isoneamed.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
        /* ]]> */
      script(type='text/javascript', src='http://isoneamed.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.5.1')
      script(type='text/javascript', src='http://isoneamed.com/wp-includes/js/underscore.min.js?ver=1.4.4')
      script(type='text/javascript')
        var slideDeck2URLPath = "http://isoneamed.com/wp-content/plugins/slidedeck2-personal";
        var slideDeck2AddonsURL = "http://isoneamed.com/wp-admin/admin.php?page=slidedeck2.php/upgrades";
        var slideDeck2iframeByDefault = false;
    //
       /.main 
    .subfooter Copyright ©2011. All Rights Reserved.
    //if lt IE 7
      script(defer='defer', src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script(defer='defer')
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
    script(type='text/javascript')
      jQuery(window).resize(function() {
      if(jQuery('div.main.has-sidebar').length > 0 && jQuery(window).width() > 767 ) {
      var pageLength = jQuery('div.prime-page').height();
      var sidebarLength = jQuery('div#sidebar').height();
      if(pageLength < sidebarLength) {
      jQuery('div.prime-page').css('min-height', sidebarLength + 'px');
      }
      }
      });
