footer.container
  .gray
    .row
      .col-sm-4
        .contact-info
          h3 Contact Info
          ul
            li.title For Business Inquiries:
            li iSonea Ltd
            li Suite 1, 1233 High St
            li Armadale, Victoria, AU 3143
            li
              a(href="info@iSoneaMed.com") info@iSoneaMed.com
          ul
            li.title Product Inquiries / Tech Support
            li iSonea Ltd
            li 125 South Tremont
            li Oceanside, California 92054
            li +1 761.297.6055 / Service@iSoneaMed.com

          ul
            li.title Australia Inquiries
            li iSonea Limited
            li REGISTERED OFFICE
            li Suite 1, 1233 High St
            li Armadale, Victoria, AU 3143
            li +61 (0) 3 9824 5254

      .col-sm-4
        .awards
          a(href="https://www.ausbiotech.org/" alt="AusBiotech")
            img.center.img-responsive(src="#{ site_url }/assets/images/ausbiotech.jpeg", title="AusBiotech")
          a(href="http://advamed.org/" alt="advamed")
            img.center.img-responsive(src="#{ site_url }/assets/images/advamed.png", title="advamed")
          a(href="http://www.frost.com/prod/servlet/frost-home.pag" alt="advamed")
            img.center.img-responsive(src="#{ site_url }/assets/images/FrostandSullivan.png", title="advamed")
      .col-sm-4
        .row
          .col-sm-12
            .social-share
              ul.social-buttons.cf
                li
                  a.socialite.twitter-share(href="http://twitter.com/share", data-text="Socialite.js", data-url="http://socialitejs.com", data-count="vertical", rel="nofollow", target="_blank")
                li
                  a.socialite.googleplus-one(href="https://plus.google.com/share?url=http://socialitejs.com", data-size="tall", data-href="http://socialitejs.com", rel="nofollow", target="_blank")
                li
                  a.socialite.facebook-like(href="http://www.facebook.com/sharer.php?u=http://www.socialitejs.com&t=Socialite.js", data-href="http://socialitejs.com", data-send="false", data-layout="box_count", data-width="60", data-show-faces="false", rel="nofollow", target="_blank")
                li
                  a.socialite.linkedin-share(href="http://www.linkedin.com/shareArticle?mini=true&url=http://socialitejs.com&title=Socialite.js", data-url="http://socialitejs.com", data-counter="top", rel="nofollow", target="_blank")        
        .row
          .col-sm-12
            .newsletter
              h3.center Newsletter Sign Up
              p.subhead Keep informed of iSonea's latest news by receiving the iSonea Monitor, Sign up here:
              #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='http://soundasthma.us7.list-manage.com/subscribe/post?u=214cede23e4a2c905e457618c&id=a1f3bf94c0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
                  .form-group
                    input#mce-EMAIL.form-control(type='email', value='', name='EMAIL', required, placeholder="Email")
                  .form-group
                    input#mce-FNAME.form-control(type='text', value='', name='FNAME', placeholder="First Name")
                  .form-group
                    input#mce-LNAME.form-control(type='text', value='', name='LNAME', placeholder="Last Name")
                
                  div(style='position: absolute; left: -5000px;')
                    input.hidden(type='text', name='b_214cede23e4a2c905e457618c_a1f3bf94c0', value='')
              
                  input#mc-embedded-subscribe.center.btn.btn-primary(type='submit', value='Subscribe', name='subscribe')

