header
  .container
    .row
      .col-sm-6
        .logo
          a(name='header-logo', href='http://isoneamed.com')
            img(src="assets/images/logo.png")
          .tagline
            | Sound Asthma Management
      .col-sm-6
        ul.social-links
          li.facebook
            a(href='https://www.facebook.com/AsthmaSense')
          li.twitter
            a(href='https://twitter.com/AsthmaSense')
          li.in
            a(href='http://www.linkedin.com/company/2497200?trk=tyah')
          li.youtube
            a(href='http://www.youtube.com/soundasthma')
          li.contact
            a(href='https://sense.soundasthma.com/user/login')
  
    nav.navbar.navbar-inverse(role="navigation")
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#primary-nav")
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        #primary-nav.collapse.navbar-collapse
          ul.nav.navbar-nav.nav-justified
            li
              a(href='http://isoneamed.com/') Home
            li.dropdown 
              a.dropdown-toggle(href="#", data-toggle="dropdown") Products <span class="glyphicon glyphicon-chevron-down"></span>
              ul.dropdown-menu
                li
                  a(href='http://isoneamed.com/products/productstechnolog/') Technology
                li
                  a(href='http://isoneamed.com/products/software/') Software
                li
                  a(href='http://isoneamed.com/products/devices/') Devices
                li
                  a(href='http://isoneamed.com/products/legacy-products/') Legacy Products
                li
                  a(href='http://isoneamed.com/products/patents/') Patents
              li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") Healthcare <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/healthcare/mhealth-trends/') mHealth Trends
                  li
                    a(href='http://isoneamed.com/healthcare/clinical-perspectives/') Clinical Perspectives
                  li
                    a(href='http://isoneamed.com/healthcare/publications/') Publications
              li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") Investors <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/investors/asx/') Corporate Announcements
                  li
                    a(href='http://isoneamed.com/investors/quarterly-reports/') Quarterly and Annual Reports
                  li
                    a(href='http://isoneamed.com/investors/analyst-reports/') Analyst Reports
                  li
                    a(href='http://isoneamed.com/investors/corporate-presentations/') Corporate Presentations
                  li
                    a(href='http://isoneamed.com/investors/newsletter/') Newsletter
              li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") News <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/news/in-the-media/') In the Media
                  li
                    a(href='http://isoneamed.com/news/videos/') Videos
                  li
                    a(href='http://press.isoneamed.com') Pressroom
              
              li#menu-about.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong About
                ul.sub-menu
                  li#menu-about-us.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-7168.current_page_item
                    a(href='http://isoneamed.com/about/about-us/')
                      span.menu-link-wrap
                        strong About Us
                  li#menu-board-of-directors.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/about/board-of-directors/')
                      span.menu-link-wrap
                        strong Board of Directors
                  li#menu-management.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/about/management/')
                      span.menu-link-wrap
                        strong Management
              li#menu-contact.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong Contact
                ul.sub-menu
                  li#menu-linkedin.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/contact/linked-in-profile/')
                      span.menu-link-wrap
                        strong LinkedIn
                  li#menu-contact-info.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/contact/contact-info/')
                      span.menu-link-wrap
                        strong Contact Info
              li#menu-careers.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-parent-item
                a(href='#')
                  span.menu-link-wrap
                    strong Careers
                ul.sub-menu
                  li#menu-isoneas-vision.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/careers/isoneas-vision/')
                      span.menu-link-wrap
                        strong iSonea’s Vision
                  li#menu-culture.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/careers/culture/')
                      span.menu-link-wrap
                        strong Culture
                  li#menu-join-us.menu-item.menu-item-type-post_type.menu-item-object-page
                    a(href='http://isoneamed.com/careers/join-us/')
                      span.menu-link-wrap
                        strong Join Us
            