@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
@import '_bootstrap';

/* HTML */

/* Variables */

@white: #fff;


/* Mixins */

.center{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul{
  list-style: none;
}
/* Tags */

body{
  background-image: url(../images/concrete.jpg);
}
.top-bg{
  background: url(../images/sitebg.jpg) center top;
  position: absolute;
  display: block;
  top: 0;
  height: 537px;
  width: 100%;
  z-index: -1;
}

/* Header */
.logo{
  margin-top: 20px;
  padding-left: 30px;
  img{
    height: 54px;
    width: auto;
  }
}
.tagline{
  display: none;
  color: rgba(255,255,255,.7);
  font-size: 12px;
  font-weight: 100;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid rgba(255,255,255,.7);
}

.navbar-isonea{
  .navbar-inverse;
  min-height: 40px;
  margin-top: 10px;
  background-color: #444;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  -ms-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -ms-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0;
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
  margin-bottom: 0;
  .navbar-nav>li>a{
    color: @white;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 6px;
  }
  .glyphicon{
    font-size: 10px;
  }
}
.navbar-nav.nav-justified{
  display:table;
}

.navbar-nav.nav-justified>li{
  float:none;
  width:auto;
}

.social-links{
  display: inline-block;
  .pull-right;
  li{
    display: inline-block;
    margin-left: 1px;
    margin-top: 20px;
  } 
}
/* Layout */
.subheader{
  color: @white;
  font-size: 40px;
  .center;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  background: rgb(134,182,37);
  background: -moz-linear-gradient(top, rgba(134,182,37,1) 50%, rgba(102,138,29,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(134,182,37,1)), color-stop(100%,rgba(102,138,29,1)));
  background: -webkit-linear-gradient(top, rgba(134,182,37,1) 50%,rgba(102,138,29,1) 100%);
  background: -o-linear-gradient(top, rgba(134,182,37,1) 50%,rgba(102,138,29,1) 100%);
  background: -ms-linear-gradient(top, rgba(134,182,37,1) 50%,rgba(102,138,29,1) 100%);
  background: linear-gradient(to bottom, rgba(134,182,37,1) 50%,rgba(102,138,29,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b625', endColorstr='#668a1d',GradientType=0 );
  border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  -moz-border-radius: 0 0 0 0 !important;
}
.white{
  background-color: @white;
  padding-top: 60px;
}
.papers{
  padding-left: 20px;
  padding-right: 20px;
  img{
    margin-bottom: 15px;
  }
}
.side-nav{
  padding-left: 20px;
  padding-right: 20px;
}
.isonea-side-nav{
  list-style: none;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  li{
    margin-bottom: 10px;
    a{
      font-weight: 400;
    }
  }
}
.main-copy{
  padding-left: 20px;
  padding-right: 20px;
  h1{
    font-size: 16px;
    font-weight: 600;
  }
  p{
    font-size: 12px;
  }
}
.navbar-isonea .navbar-nav>.open>a, .navbar-isonea .navbar-nav>.open>a:hover, .navbar-isonea .navbar-nav>.open>a:focus {
  background-color: #080808;
  color: #fff;
}

.navbar-isonea .navbar-nav>li>a{
  &:hover{
    background-color: #080808;
    color: #fff;
   }
 }
/* Home */


/* Post */


/* Footer */
.gray{
  background: #F8F8F8;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-info{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  color: #777;
  h3{
    font-size: 16px;
    font-weight: 600;
  }
  ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    list-style: none;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .title{
    font-size: 13px;
    font-weight: 600;
  }
}
.awards{
  padding-left: 20px;
  padding-right: 20px;
}
.social-buttons{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  list-style: none;
  margin-left: 0;
  display: block;
  list-style: none;
  padding: 0;
  margin: 20px
}
.social-buttons > li {
  display: block;
  margin: 0;
  padding: 10px;
  float: left;
}
.publications{
  padding-left: 40px;
  padding-right: 40px;
}

.publications{
  ul{
    list-style: none;
    li{
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid @brand-primary;
      &:last-child{
        border-bottom: none;
      }
    }

  }
}
/*  Media Queries
    Extra small devices (phones, up to 480px) No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {
  .tagline{
   display: inline-block;
  }
  .nav>li>a{
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {
    .nav>li>a{
    padding-left: 35px;
    padding-right: 35px;
  }
}

