main
  section.container
    .subheader
      h1 Videos

  section.container
    .white
      .row
        .col-sm-12
          .videos
            .row
              .col-sm-12  
                h3 Managing and Monitoring Asthma:
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/URsq8s2xFqg?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>
            .row
              .col-sm-12 
                h3 About Asthma
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/-lifDqjKegk?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/xwlA6rl5TCA?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>
            
            .row
              .col-sm-12  
                h3 How AirSonea™ Works:
                
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/uP5rVsUuOTk?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/1E-bgtuVm4Q?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/l_IeG4DUkoM?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>

            .row
              .col-sm-12  
                h3 Find out more about AirSonea™
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/5wJYlxin5x0?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>
                  
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/gtDaTwLGSTA?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/9RD3VHkoqck?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>
                  
              .col-sm-6
                .embed-container
                  <iframe src="http://www.youtube.com/embed/oZIiwnLaDE0?&amp;rel=0&amp;modestbranding=1&amp;hd=1" allowfullscreen="allowfullscreen" frameborder="0" height="480" width="640"></iframe>